
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPage/_MasterPage.cshtml";
}

<h1>Dashboard</h1>
<p>This a responsive dashboard</p>
<div class="box">
    <div class="box-top">News</div>
    <div class="box-panel">
        Mauris faucibus aliquam facilisis. Proin tempor finibus augue. Maecenas vel lorem quis eros pulvinar aliquam. Donec dictum odio leo, vitae volutpat dui malesuada in. Curabitur condimentum semper vestibulum. Suspendisse viverra nisl vitae enim volutpat ultrices. Vestibulum a mi vitae ligula dignissim vulputate. Sed consectetur sapien vitae ultricies luctus.
    </div>
</div>
<div class="box">
    <div class="box-top">News</div>
    <div class="box-panel">
        Ut quis mollis neque, non iaculis enim. Etiam blandit eleifend tempus. Nunc eleifend nec lectus eu convallis. Ut varius auctor lorem in rutrum. Vivamus fringilla felis eget scelerisque porttitor. Donec mattis neque at faucibus fringilla. Quisque pellentesque fringilla orci, ac dapibus risus fringilla sed. Nullam non enim id purus egestas cursus. Vestibulum non ullamcorper sem, a sagittis nisi. Ut ligula lectus, pellentesque a augue placerat, vehicula iaculis orci. Pellentesque erat dui, placerat a lorem eget, tincidunt efficitur orci. Phasellus nunc dui, sollicitudin in arcu vitae, euismod tincidunt velit. Curabitur scelerisque, tortor quis tincidunt sagittis, nisi est volutpat ipsum, nec rhoncus metus lectus vel augue. Vestibulum at neque vestibulum, porta nisi et, eleifend magna. Donec venenatis ex id leo egestas, quis tincidunt ex aliquet.
    </div>
</div>
<div class="box">
    <div class="box-top">News</div>
    <div class="box-panel">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam venenatis tortor non tellus ultricies iaculis. Aliquam erat volutpat. Donec sit amet dolor orci. Duis suscipit rhoncus euismod. Integer vitae urna sed elit ullamcorper elementum et ac est. Donec eget tortor malesuada, sollicitudin nulla eget, sodales quam. Pellentesque sapien nulla, sodales ut tempus vitae, suscipit sed urna. Pellentesque suscipit lectus nisi, non fringilla lorem dictum ac. Nam enim risus, semper nec tempus non, commodo sed ex. Aliquam tempor elit mauris, non finibus tortor feugiat non. Praesent ac maximus magna. Praesent porta leo mattis nisi faucibus consectetur eget ac quam. Quisque faucibus hendrerit elit sed pulvinar. Quisque et sem massa.
    </div>
</div>
