<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/LoginGlobal.less" rel="stylesheet/less" type="text/css"/>
    <script src="~/Scripts/less.min.js"></script>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>

</head>
<body>
<div id="topnav">
    <div class="logo">
        <a href="#">
            <span>Responsive</span>App
        </a>
    </div>
</div>
<div class="container">
    <div class="content">
        @RenderBody()
    </div>
</div>
</body>
</html>
