<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scale=0" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/global.less" rel="stylesheet/less" type="text/css" />
    <script src="~/Scripts/less.min.js"></script>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/General.js"></script>
</head>
<body>
    <div id="topnav">
        <div class="logo">
            <a href="#"><span>Responsive</span>App</a>
        </div>
    </div>
    <a href="#" class="mobile">
        MENU
    </a>
<div class="container">
    <div class="sidebar">
        <ul id="nav">
            <li>
                <a href="#" class="selected">Home</a>
            </li>
            <li>
                <a href="#">Friends</a>
            </li>
            <li>
                <a href="#">Messages</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
            <li>
                <a href="#">Sign Out</a>
            </li>
        </ul>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</div>
<div id="BottomNav">
    
</div>
</body>
</html>
